@charset "UTF-8";
.dateQuantityInputs {
  margin: 20px;
  // display: inline-block;
}
.quantityLabel {
  padding-left: 20px;
  margin-left: 20px;
}
.dateLabel {
  padding-left: 20px;
  margin-left: 20px;
}
