@charset "UTF-8";

.workspacePage {
  * {
    box-sizing: border-box;
  }
  .MainContent {
    margin-left: 108px;
    margin-top: 24px;
    margin-right: 10px;
  }
  .Total {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .Total .Left {
  	vertical-align: top;
      display: block;
  }
  .Total .Right {
  	display: inline-block;
  	vertical-align: top;
  }
}
